<div class="mt-5">
  <h1>Welcome to IronBars</h1>

  <div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/300" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Films</h5>
      <p class="card-text">Discover our films</p>
      <a href="/films" class="btn btn-primary">See more</a>
    </div>
  </div>
</div>